<div class="auth container">
  <mat-card class="auth__card">
    <div class="auth__header">
      <h2>👋 Connexion</h2>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="auth__body">
      <mat-form-field class="w-100">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="email@example.com">
        @if (loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)) {
          <mat-error>
            @if (loginForm.get('email')?.errors?.['required']) {
              Veuillez entrer l'email.
            }
            @if (loginForm.get('email')?.errors?.['email']) {
              Format d'email invalide.
            }
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" formControlName="password" placeholder="********">
        @if (loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)) {
          <mat-error>
            @if (loginForm.get('password')?.errors?.['required']) {
              Veuillez entrer le mot de passe.
            }
          </mat-error>
        }
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="isLoading || loginForm.invalid" class="w-100">
        {{ isLoading ? 'Connexion en cours...' : 'Se connecter' }}
      </button>

      @if (errorMessage) {
        <div class="error">{{ errorMessage }}</div>
      }

      <div class="auth__footer">
        <p>Pas encore de compte ? <a routerLink="/register">Créer un compte</a></p>
      </div>
    </form>
  </mat-card>
</div>
